GEMINI_API_KEY=
SUPABASE_URL=
SUPABASE_KEY=
DATABASE_URL=postgresql://postgres:postgres@db:5432/verimind
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_APP_URL=http://localhost:3000
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
